@charset "utf-8";
/* CSS Document */
@import url("https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i");

body {
	font-family: 'Muli', sans-serif;
	margin: 0;
	padding: 0;
	border: 0; 
}

.formres{
display:inline;
}

	/* Columna imagen+subir */
.formresimage {
	
		width:30%;
		text-align: right;
		vertical-align: top;
		display:inline-block;
		padding-right: 20px;
}
/* Margen fiv casilla */
.formreslist div {

	margin-top: 1.6%;
	margin-bottom: 1.6%;
}
/* Columna formulario */
.formreslist {
		
			width: 60%;
			display: inline-block;
			padding-left: 20px;
	}
/* imagen */
.formresimage img {
	width: 100px;
	
}

/* Diseño casilla */
.formreslist input{

	border-radius: 20px;
	padding: 1%;
	width:50%;
	border:none;

}
/* Enseñar genero en linea */
.genero div {

	display: inline-block;
}

/* .formres button {

	background-color: #F6C324;
    border: 0;
    padding-left: 15px;
    padding-right: 15px;
    color: #20292f;
    font-size: 0.85em;
    font-weight: 600;
    border-radius: 25px;
} */

/* Width aceptar terminos */
#rescheck input{

	margin: 0;
	width:auto;
}

