@charset "utf-8";
/* CSS Document */
@import url("https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i");

body{
	font-family: "Muli", sans-serif;
	font-size: 1em;
	margin: 0;
	padding: 0;
	border:0;
}

.seccion-menu{
	margin: 0;
	padding: 0;
}

.seccion-menu span h2{
	border-bottom: solid 0.3em;
	width: 20em;
}

.seccion-menu form{
	margin-top: 0;
	margin-left: 33%;
	border: 0;
	padding: 0;

}
.seccion-menu>form>div{
	display: block;

}
.seccion-menu>form>div>input{
	border-radius: 0.1em;
	padding: 0.3em;
	
	margin-bottom: 1em;
	
}
.seccion-menu form div label p textarea{
	border:  0.1em solid grey;
	padding: 0.3em;
}

.seccion-menu form button {
	display: block;
	font-weight: 600;

.seccion-menu form button{
	border: none;
	padding: 1em;
	border-radius: 12px;
	color: #20292f;
	background-color: #F6C324;
	font-weight: 900;
	margin-left: 11em;
	margin-top: 1em;
	cursor: pointer;
	margin-bottom: 1em;
}

.seccion-menu div
{
	border: 2px solid #F6C324;
	padding: 50px;
	padding-right: 100px;
	width: 320px;
}
.seccion-menu form
{
	margin-top: 0;
	margin-left: 33%;
	border: 0;
	padding: 0;
}


