@charset "utf-8";
/* CSS Document */
@import url("https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i");
body
{
	font-family: "Muli", sans-serif;
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 1em;
}
*
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
section.seccion-videos
{
	border-top: 2px solid #F6C324;
	border-bottom: 2px solid #F6C324;
}
section.seccion-videos > div
{
	font-weight: 800;
	margin-left: 33%;
	padding: 0;
	padding-top: 8px; 
	padding-bottom: 8px;
	border: 0;
}
section.seccion-videos input , section.seccion-videos textarea
{
	border: none;
	padding: 8px;
}
section.seccion-videos form
{
	border: 2px solid #F6C324;
	width: 320px;
	margin-left: 33%;
	padding: 20px; 
}
section.seccion-videos button
{
	font-weight: 600;
	border: none;
	padding: 10px;
	border-radius: 12px;
	color: #20292f;
	background-color: #F6C324;
	font-weight: 900;
	margin-left: 160px;
	cursor: pointer;
}
