@import url("https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i");
@font-face 
{
    font-family: 'entypo';
    src: url('/font/entypo.eot');
    src: url('/font/entypo.eot?#iefix') format('embedded-opentype'),
         url('/font/entypo.woff') format('woff'),
         url('/font/entypo.ttf') format('truetype'),
         url('/font/entypo.svg#entypo') format('svg');
    font-weight: normal; font-style: normal;
}
body
{
	font-family: "Muli", sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
}
img.cabecera
{
	width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
}
.premiamos-tu-confianza
{
	margin: 40px;
	margin-right: 40%;
	padding: 15px;
	border: 2px solid #F6C324;
}
.text-sobre-imagen
{
	position: absolute;
}
/* A partir d'aqui comença la barra buscadora */
.caja-blanca
{
	margin-left: 13%;
	width: 74%;
	background-color: white;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	padding: 5px;
	align-items: center;
	margin-top: 55px;
	margin-bottom: 55px;
}
.cercar
{
	padding: 8px;
	margin: 3px;
	border: 0;
}
.icon-search:before 
{ 
	font-family: "entypo";
	content: '\1f50d';
	margin-left: 15px;
}
/*/////////////Dropdown////////////*/
.dropdown
{
	position: relative;
	display: inline-block;
}
.dropdown-content
{
	display: none;
	position: absolute;
	background-color: white;
	min-width: 360px;
	width: 50%;
	max-width: 1000px;
	z-index: 1;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);
	margin: 0;
	border: 0;
	font-size: 1em;
	align-items: center;
}
.dopdown-content a
{
	color: black;
	padding: 12px 16px;
    text-decoration: none;
    display: block;
	background-color: white;
	align-content: center;
}
.dopdown-content a:hover
{
	background-color: #f1f1f1;
	align-content: center;
}
.dropbtn
{
	background-color: #e0e9e6;
    color: black;
    padding: 16px;
    font-size: 1em;
    border: none;
    cursor: pointer;
}
.dropdown:hover .dropdown-content
{
	display: block;
	
}
button.boton-tipo-restaurante
{
	color: #20292f;
	font-family: "Muli", sans-serif;
	font-size: 1em;
	border: none;
	padding: 12px 24px;
	text-align: center;
	display: inline-block;
	background-color: white;
}
button.boton-tipo-restaurante:hover
{
	background-color: #e0e9e6;
}
.dropdown:hover .dropbtn 
{
    background-color: #e0e9e6;
}
.dropdown-content a:hover 
{
	color: #e0e9e6;
}
a
{
	margin: 10px;
	text-decoration: none;
	font-family: "Muli", sans-serif;
}
div.celdas-dropdown
{
	position: relative;
	padding: 10px;
	margin: auto;
	display: inline-block;
}
.last-child
{
	margin-bottom: 15px;
}
.titulo-cocinas
{
	color: #415566;
	font-family: "Muli", sans-serif;
	font-weight: 900;
}
.icon-down-dir:before
{ 
	content: '\25be'; 
}
.barra-separadora
{
	padding-right: 10px;
	border-right: 2px solid #A3A3A3;
}
.boton-buscar
{
	border: 0;
	border-radius: 15px;
	padding: 10px;
	font-family: "Muli" sans-serif;
	font-size: 1.2em;
	font-weight: 600;
	background-color: #F6C324;
	color: #20292f;
}