@charset "utf-8";
/* CSS Document */
@import url("https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i");
@font-face 
{
    font-family: 'entypo';
    src: url('/font/entypo.eot');
    src: url('/font/entypo.eot?#iefix') format('embedded-opentype'),
         url('/font/entypo.woff') format('woff'),
         url('/font/entypo.ttf') format('truetype'),
         url('/font/entypo.svg#entypo') format('svg');
    font-weight: normal; font-style: normal;
  }
body
{
	font-family: "Muli", sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	margin-top: 55px;
}
/*////////////////////////////////////////////////Navbar///////////////////////////////////////////////////////////////////////*/
nav.navegacion
{
	position: fixed;
	width: 100%;
	top: 0;
}
ul.navbar 
{
    list-style-type: none;
    margin: 0;
    padding: 5px;
	overflow: hidden;
	background-color: #20292f; 
	/*border-radius: 10px;*/
	/*box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.40);*/
}
li.lista-navbar
{
	display: inline-flex;
}
li.lista-navbar a
{
    display: block;
	color: white;
	text-align: center;
    padding: 4px 12px;
	/*margin: 0;
    padding: 0;
	border: 0;*/
    text-decoration: none;
	font-size: 1.5em;
}
li.lista-navbar a:hover
{
    background-color: #415566;
}
ul.navbar span.navbar-derecha
{
	float: right;
}
.gastro-guide-logo
{
	width: 85px;
	height: 35px;
	margin-left: 12px;
}
.gestion-usuario-padding
{
	padding: 5px;
	align-items: center;
}
button.inicia-sesion
{
	background-color: #F6C324;
	border: 0;
	padding-left: 15px;
	padding-right: 15px;
	color: #20292f;
	font-size: 0.85em;
	font-weight: 600;
	border-radius: 25px;
}
div.icon-user
{
	display: inline-flex;
}
.icon-user:before 
{
	font-family: 'entypo';
	content: "\1f464"; 
	font-style: normal;
	font-size: 0.9em;
}
/*///////////////////////////////////////////////Log in///////////////////////////////////////////////////////////////////////////*/
.log{
	border: 0%;
	left: 0%;
	right: 0%;
	height:700px ;
}

.lover button{
	background-color: #F6C324;
	border: 0;
	padding: 5px 15px;
	color: #218380;
	font-size: 0.85em;
	font-weight: 600;
	border-radius: 25px;
	margin-top: 15px
}
.chef button{
	background-color: #218380;
	border: 0;
	padding: 5px 15px;
	color:#F6C324;
	font-size: 0.85em;
	font-weight: 600;
	border-radius: 25px;
	margin-top: 15px
	
}
.log input{
	width: 260px;
	padding: 5px 5px;
	margin-top: 10px;
	font-size: 1em;
	background-color: rgba(255, 255, 255, 0.658);
	border: 0px

}
.lover{
	background-color: #218380;
	float: left;
	width: 50%;
	text-align: center;
	height: 100%
	
}
.chef{
	background-color:  #F6C324;
	float: right;
	width: 50%;
	text-align: center;
	height: 100%

}
.lover img{
	margin-top: 50px;
	margin-bottom: 30px;
}
.chef img{
	margin-top: 50px;
	margin-bottom: 30px;
}
.boton{
	margin-top: 25px
}
.signup{
	background-color: #E0E9E6 !important;
	color: #218380 !important;

}
/*////////////////////////////////////////////////Perfil Restaurante///////////////////////////////////////////////////////////////////////*/
 
 .tit {
	font-size: 26px;
	background: #00bcd4;
	color: white;
	padding: 40px 0 100px 20%;
	margin-bottom: 50px;
  }
  
  .tab-wrap {
	width: 50%;
	margin-left: 20%;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	top: -106px;
  }
  
  .input[type="radio"][name="tabs"] {
	position: absolute;
	min-height: 100vh;
	z-index: -1;
  }
  .input[type="radio"][name="tabs"]:checked + .tab-label-content label {
	color: white;
  }
  .input[type="radio"][name="tabs"]:checked + .tab-label-content .tab-content {
	display: block;
  }
  .input[type="radio"][name="tabs"]:nth-of-type(1):checked ~ .slide {
	left: calc((100% / 4) * 0);
  }
  .input[type="radio"][name="tabs"]:nth-of-type(2):checked ~ .slide {
	left: calc((100% / 4) * 1);
  }
  .input[type="radio"][name="tabs"]:nth-of-type(3):checked ~ .slide {
	left: calc((100% / 4) * 2);
  }
  .input[type="radio"][name="tabs"]:nth-of-type(4):checked ~ .slide {
	left: calc((100% / 4) * 3);
  }
  .input[type="radio"][name="tabs"]:first-of-type:checked ~ .slide {
	left: 0;
  }
  
  .tab {
	cursor: pointer;
	color: rgba(255, 255, 255, 0.8);
	background-color: #00bcd4;
	box-sizing: border-box;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	text-align: center;
	height: 56px;
	-webkit-transition: color 0.2s ease;
	transition: color 0.2s ease;
	width: 100%;
  }
  
  .slide {
	background: #ffeb3b;
	width: calc(100% / 4);
	height: 4px;
	position: absolute;
	left: 0;
	top: calc(100% - 4px);
	-webkit-transition: left 0.3s ease-out;
	transition: left 0.3s ease-out;
  }
  
  .tab-label-content {
	width: 100%;
  }
  .tab-label-content .tab-content {
	position: absolute;
	top: 100px;
	left: 16px;
	line-height: 130%;
	display: none;
  }
  
  @media screen and (max-width: 800px) {
	.tit {
	  padding: 40px 0 90px 10%;
	}
  
	.tab-wrap {
	  width: 80%;
	  margin-left: 10%;
	  top: -106px;
	}
  }
  .follow {
	width: 42px;
	height: 42px;
	border-radius: 50px;
	background: #03A9F4;
	display: block;
	margin: 300px auto 0;
	white-space: nowrap;
	padding: 13px;
	box-sizing: border-box;
	color: white;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	font-family: Muli, sans-serif;
	text-decoration: none;
	box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
  }
  .follow i {
	margin-right: 20px;
	-webkit-transition: margin-right 0.2s ease;
	transition: margin-right 0.2s ease;
  }
  .follow:hover {
	width: 134px;
  }
  .follow:hover i {
	margin-right: 10px;
  }
  
  @media screen and (max-width: 800px) {
	.follow {
	  margin: 400px auto 0;
	}
  }


/*////////////////////////////////////////////////Footer///////////////////////////////////////////////////////////////////////*/

footer {
color: #E0E9E6;
background-color: #20292F;
bottom: 0;
left: 0;
right: 0;
font-family: 'Muli', sans-serif;
}

footer a{
	color:#E0E9E6;
	text-decoration: none;
}

.footer{
	position: relative;
	text-align:center;
}

.row{
	position: relative;
	display: inline-block;
	width: auto;
}

.col1{
	display: inline-block;
    position: relative;
    padding-right: 5%;
}

.col1 h4{
    padding-top: 0.5em;
    margin: 0;
}

.img-footer{
	display: inline-block;
	position: relative;
	padding-top: 2%;
}

img#logo-footer{
	width: 130pt;
	height: 100pt;
}

.col2{
	display: inline-block;
	position: relative;
	padding-left: 5%;
	font-family: entypo;
}

.col2 h3{
	font-family: 'Muli', sans-serif;
}

footer ul li{
	list-style: none;
	display: inline-block;
}
.icon-facebook-circled:before { /* icono facebook */
	content: '\f30d'; 
	font-size: 2em;
	font-style: normal;
	padding-right:0.5em;
} 

.icon-twitter-circled:before { /* icono twitter */
	content: '\f30a';
	font-size: 2em;
	font-style: normal;
	padding-right:0.5em;
} 

.icon-gplus-circled:before { /* icono google */
	content: '\f310';
	font-size: 2em;
	font-style: normal;
} 

.copyright{
	position: relative;	
	display: inline-block;
}

.contenedor{
	position: relative;	
	display: inline-block;
	text-align: center;
	padding-left: 10%;
	padding-right: 10%; 
}


#texto-footer{
	font-size: 0.7em;
}