@media (min-width:320px) and (max-width:480px) {
    #body_filtrar {
        font-size: 0.75em;
    }
    .mobile-out {
        display: none;
    }
    .cuadro-blanco {
        width: 100%;
        margin: 0;
        padding: 0 0 0.5em 0;
    }
    .formulario {
        padding: 1em;
        margin-bottom: 1em;
    }
    #section-fichas {
        display: block !important;
        padding-top: 0 !important;
    }
    #section-filtro {
        display: none !important;
    }
    .contenedor-fichas{
        padding: 0;
        height: auto;
    }
    .img-ficha {
        height: 10em;
        display: block;
        overflow-y: hidden;
    }
    .img-ficha img{
        width: 100%;
        height: auto;
        vertical-align: auto;
        margin-top: -90px;
    }
    .text-ficha{
        height: 8em;
    }
    .opiniones-nota{
        margin-left: 0;
        height: 8em;
    }
    #section-fichas h2{
        margin: 0.5em 0 0 0;
    }

}
